#root {
<<<<<<< HEAD
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
=======
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
>>>>>>> dbff6e47a7f804eb2e97023005bb8cc32e934a43
}
